#drum-machine {
  border: 5px solid orange;
  margin: 15%;
  height: 350px;
  width: 700px;
  background-color: darkgray;
  padding: 0;
  display: grid;
  grid-template-columns: 50%;
}
#button-wrapper, #control-panel {
  grid-row-start: 1;
  border: 0px solid black;
  width: 95%;
  height: 95%;
  margin: 2.5%;
}
#button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}
.drum-pad {
  width: 95%;
  height: 95%;
  padding: 0;
  align-self: center;
  justify-self: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
